<%= form_with(model: [@picture, @comment], local: true) do |form| %>
  <p>
    <%= form.label :body, "Edit Comment" %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit :Confirm %>
  </p>
<% end %>
