<h1 id="welcome_header"><%= @user.username %>'s Profile Page</h1>
<div id="picture_deck">
  <div id="album_div">
    <% @user.pictures.reverse.each do |picture| %>
      <div id="image_div">
        <%= image_tag picture.image.url(:medium)  %>
      </div>
    <% end %>
  </div>
  <% if @user == current_user %>
    <div id="upload_button">
      <%= button_to('Upload Picture', new_picture_path, {method: :get}) %>
    </div>
  <% end %>
</div>
