<% if user_signed_in? %>
  <%= button_to('Logout', destroy_user_session_path, method: :delete, id: 'banner_btn') %>
  <h6 id="current_user">Logged in as: <%=current_user.username%></h6>
<% else %>
  <%= button_to('Login', new_user_session_path, id: 'banner_btn')  %>
<% end %>
