div#picture_deck {
  padding-left: 30px;
}

div#album_div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}

div#image_div {
  height: 215px;
  width: 100%;
  object-fit: cover;
  padding-top: 15px;
}

div#upload_button {
  padding-top: 100px;
}
