h1.welcome_header {
  color: white;
  font-family: 'Optima', sans-serif;
  font-size: 40px;
  text-align: center;
  margin: auto;
}

body {
  background-color: #F64444;
  max-width: 100%;
  max-height: 100%;
}
