h1#welcome_header {
  color: white;
  font-family: 'Optima', sans-serif;
  font-size: 40px;
  text-align: center;
  margin: auto;
}

h6#current_user {
  color: white;
  font-family: 'Optima', sans-serif;
}

body {
  background-image: url(https://st.depositphotos.com/1470939/1370/i/950/depositphotos_13704818-stock-photo-blue-worn-plaster-wall-texture.jpg);
}
